.colContainer{
    background-color: #FCEBB6;
    border-radius: 20px;
    color: #5E412F;
    font-size: large;
    
    height: 50px;
    
}
.center{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.rowContainer{
    width: calc(100% -40px);
    height: 100%;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;

    height:'100%';
    background:#5E412F
}